@import '../utils/navbar';

#banner{
    margin-top: 7rem;
    .heading{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .sub-head{
        font-size: 16px;
        font-weight: 400;
    }

    .date{
        font-size: 14px;
        font-weight: 600;
        color: #474747;
    }

    .stat-icon {
        background-color: #f6f6f6;
        padding: 12px;
        border-radius: 50%;
        font-size: 18px;
    }
}

#stats{
    .stat-icon {
        background-color: #f6f6f6;
        padding: 12px;
        border-radius: 50%;
        font-size: 42px;
    }
    .stat-block {
        border-right: 1px solid #eee;
    }
    .last-block {
        border-right: none;
    }

    .stat-link{
        text-decoration: none;
        color: #333;
        font-size: 16px;
        font-weight: 500;
        margin-top: 5px;
        display: block;

        &:hover{
            text-decoration: underline;
        }
    }
}

#chart-section{
    .chart-title{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}

#tasks-section{
    .tasks-title{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .list-group{
        border-radius: 0;
        .list-group-item{
            border-radius: 0;
            border: 1px solid #eee;
            margin-bottom: 10px;
            padding: 15px;
            background-color: #f6f6f6;
            font-size: 16px;
            font-weight: 500;

            .dropdown{
                .btn{
                    font-size: 18px;
                }

                .dropdown-item{
                    padding: 0.5rem 1rem;
                    color: #494949;
                    font-weight: 400;
                }
            }
        }
    }
}
