{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3>Task List</h3>
    <a href="{% url 'tasks:task_create' project_slug=project_slug %}">Create task</a>
    <ul>
        {% for task in tasks %}
        <li>
            {{ task.title }}
            {% if task.completed %}
                (Completed)
                <a href="{% url 'tasks:task_uncomplete' project_slug=project_slug task_slug=task.slug %}">Mark as Uncompleted</a>
            {% else %}
                <a href="{% url 'tasks:task_complete' project_slug=project_slug task_slug=task.slug %}">Mark as Completed</a>
            {% endif %}
            - <a href="{% url 'tasks:task_delete' project_slug=project_slug task_slug=task.slug %}">Delete</a> |
            <a href="{% url 'tasks:task_update' project_slug=project_slug task_slug=task.slug %}">Update</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}