{% extends 'base.html' %}

{% load static %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block style %}
<link rel="stylesheet" href="{% static 'home_page/style.css' %}">
{% endblock style %}

{% block content %}

<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center">
                <div class="text-wrap">
                    <h1>
                        Drive Luxury, <span>Redefined</span>.
                    </h1>
                    <p>
                        Experience the elegance and performance of premium cars tailored to elevate your journey.
                    </p>
                    <div>
                        <a href="#" class="btn btn-light">Reserve your ride today<i class="fa-solid fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("scroll", function () {
        const navbar = document.querySelector(".navbar");
        if (window.scrollY > 0) {
            navbar.classList.add("navbar-scrolled");
        } else {
            navbar.classList.remove("navbar-scrolled");
        }
    });

</script>

{% endblock content %}

<h1>Landing page</h1>
{% if request.user.is_authenticated %}
<p>Logged in as : {{request.user}}</p>
<a href="{% url 'core:logout' %}">Logout</a>
{% else %}
<p>Not logged in</p>
<a href="{% url 'core:register' %}">Register now</a> | <a href="{% url 'core:login' %}">Login</a>
{% endif %}