<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">FreeDo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="fa-solid fa-bars text-light"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">FreeDo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                    <i class="fa-solid fa-x text-light"></i>
                </button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'clients:client_list' %}">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'projects:project_list' %}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks:task_list' %}">Tasks</a>
                    </li>
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false" href="#">{{request.user}}</a>

                        <ul class="dropdown-menu dropdown-menu-lg-end dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'core:change_password' %}">Change password</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item text-danger" href="{% url 'core:logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <a class="nav-link" href="{% url 'core:login' %}">Login<i
                            class="fa-solid fa-right-to-bracket ms-2"></i></a>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>