{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'forms/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock navbar %}

{% block content %}
<div id="form-section">
    <div class="container">
        <a class="btn text-primary fw-semibold mb-3" href="{% url 'projects:project_list' %}"><i
                class="fa-solid fa-angle-left me-2"></i>Back to Project List</a>
        <div class="card p-3">
            <h4 class="mb-4">Update Project</h4>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}