{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3>Payment List</h3>
    <a href="{% url 'payments:payment_create' %}">Create payment</a>
    <ul>
        {% for payment in payments %}
        <li>
            <strong>{{ payment.project.title }}</strong> - ₹{{ payment.amount }} on {{ payment.date }}
            <br>
            <em>Method:</em> {{ payment.get_method_display }}
            <br>
            <em>Description:</em> {{ payment.description|default:"No description provided" }}
            <br>
            <a href="{% url 'payments:payment_update' payment_slug=payment.slug %}">Update</a> |
            <a href="{% url 'payments:payment_delete' payment_slug=payment.slug %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}