@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.navbar {
    background-color: #00000000; /* Transparent */
    padding: 1rem 0;
    transition: background-color 0.3s ease;

    &.navbar-scrolled {
        background-color: #000000; /* Black */
    }

    .navbar-brand {
        color: #ffffff;
        font-weight: 600;
        font-size: 22px;
        font-family: "Pacifico", serif;
        font-weight: 400;
        font-style: normal;
    }
}

.offcanvas {
    background-color: #000000;

    .offcanvas-header {
        .offcanvas-title {
            color: #ffffff;
        }
    }

    .offcanvas-body {
        background-color: #00000000;

        .nav-item {
            .nav-link {
                color: #ffffff;
                margin-left: 1rem;
            }
        }
    }
}

#hero {
    background: url("https://wallpapercave.com/wp/wp2133988.jpg") center center / cover no-repeat;
    position: relative;
    padding: 3rem 0;
    height: 600px;
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 5rem;

    @media screen and (min-width: 992px){
        height: 100vh;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.894);
        @media screen and (min-width: 992px) {
            background: linear-gradient(
                95deg,
                rgba(0, 0, 0, 0.7511598389355743) 0%,
                rgba(0, 0, 0, 0.637) 16%,
                rgba(0, 0, 0, 1) 61%,
                rgba(0, 0, 0, 1) 90%
            );
        }

        z-index: 1;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .text-wrap {
        max-width: 460px;

        .btn-light {
            background-color: yellow;
            border-color: #000000;
            border-radius: 0;
            font-size: 18px;
            font-weight: 700;
            padding: 0.5rem 1rem;
        }
    }

    h1 {
        font-size: 3.5rem;
        font-weight: 700;
        color: #fff;
        max-width: 500px;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeIn 1s ease-out forwards;

        span {
            color: rgb(232 255 0);
            font-family: "Pacifico", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 4rem;
        }
    }

    p {
        margin-top: 1rem;
        font-size: 22px;
        margin-bottom: 1rem;
        color: #dfdfdf;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeIn 1.2s ease-out forwards;
    }

    .btn {
        font-weight: 600;
        margin-top: 1rem;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeIn 1.4s ease-out forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
