{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'core/login/style.css' %}">
{% endblock style %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 form-container">
            <div class="wrap">
                <form method="post">
                    {% csrf_token %}
                    <h3 class="mb-3">Reset password</h3>
                    {{form.as_p}}
                    <button type="submit" class="btn submit-btn">Get reset email</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-lg-6"></div>
    </div>
</div>
{% endblock %}