@import "../../utils/navbar";

#banner {
    margin-top: 7rem;
    .heading {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .sub-head {
        font-size: 16px;
        font-weight: 400;
    }
}

